<div class="alert alert-success alert-dismissible fade" role="alert" id="idShowMensajeCorrecto">
    <div id="IdMensajeCorrecto"></div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
